.contact-modal{
    position: absolute;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 20px;
        text-align: center;
        a{
            font-weight: bold;
        }
        &.error{
            color: red;
        }
    }
    .body{
        position: fixed;
        top: 35vh;
        background-color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: fit-content;
        margin: 20px;
        
    }
    i{
        color: white;
        font-size: 20px
    }
}