form{
    textarea{
        height: 150px;
    }
    input{
        &:focus-visible{
            outline-color: $brand-color;
        }
    }
    label{
        span{
            color: red
        }
    }
}