// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
$footer-bg-color: #141117;

.custom-shape-divider-top-1658315789 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1658315789 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1658315789 .shape-fill {
    fill: #FFFFFF;
}

.footer {
    // width: 100%;
    position: relative;
    color: white;
    background-color: $footer-bg-color;
    padding-top: 120px;

    .wrapper {
        max-width: $max-width;
        margin: auto;
        padding: 40px 0 00px;

        @include md {
            padding: 0;

        }

        .block {
            @include md {
                align-items: center !important;
                margin-bottom: 15px;
            }

            h1 {
                @include md {
                    text-align: center;
                }
            }

            .fa-facebook-f {
                font-size: 32px;
            }
        }
    }

    a {
        color: #faffef;
        // text-decoration: underline;
        transition: all 0.3s ease;

        &:hover {
            transition: all 0.3s ease;
            // text-decoration: underline;
            color: $brand-color !important;
            svg{
                transition: all 0.3s ease;
                color: $brand-color !important;
            }
        }
        svg{
            transition: all 0.3s ease;
        }
    }

    .logo-footer {

        height: 200px;

        // margin: auto;
        .cls-1 {
            fill: $brand-color;
        }

        margin-top: -45px;

        @include md {
            margin-top: 0;
        }
    }
}

.bottom {
    padding: 20px 0;
    font-size: 16px;
    width: 100%;
    color: white;
    background-color: $footer-bg-color;

    .wrapper {
        display: flex;
        justify-content: space-between;
        max-width: $max-width;
        margin: auto;

        // padding-left: 20px;
        // padding-right: 20px;
        .bottom-left {
            .element {

                margin-right: 5px;

                &:not(:last-child):after {
                    content: '|';
                    margin-left: 5px;

                    @include md {
                        content: '';
                        margin-left: 0;
                    }
                }

                &:hover:after {
                    color: white;
                }

                @include md {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .bottom-right {
            text-align: right;

            @include md {
                text-align: center;
            }
        }
    }

    a {
        color: white;
        transition: all 0.3s ease;

        &:hover {
            color: #9CD421;
            transition: all 0.3s ease;
        }

    }

}