// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.wrapper {
    position: relative;
    // max-width: $max-width;
    // width: 100vw;
}

.home-banner {
    // background-image: url('../../assets/img/home/home-bg-fg.jpg');
    // background-size: cover;
    max-height: 100vh;
    overflow: hidden;

    .banner-title {
        position: absolute;
        top: 300px;
        left: 40%;
        background-color: rgba(217, 217, 217, 0.2);
        padding: 50px;
        width: 60%;
        // padding-right: 50%;
        border-radius: 15px 0 0 15px;
        color: white;

        h1 {
            span {
                font-weight: bold;
            }

            text-transform: uppercase;
            color: $brand-color;
            font-size: 64px;
            font-weight: 300;
            margin: 0;
            background-color: transparent;
        }

        p {
            font-size: 24px;
            font-weight: 500;
            margin-left: 5px;
            margin-bottom: 50px;
        }
    }
}

.promotion {
    background-color: $brand-color;
    color: white;
    // margin-left: auto;
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s all ease;
    &:hover {
        color: $brand-color;
        background-color: $secondary-color;
        transition: 0.3s all ease;
    }

}

.pictos-container {

    
    max-width: $max-width;
    // margin: auto;
    // padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: 200px;

    .picto-container {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        border: 2px solid $brand-color;
        padding: 40px;
        margin: 30px;
        transition: 0.3s all ease;
        transform: rotateY(180deg);
        .picto {
            padding: 20px;
        }
        &:hover {
            transition: 0.3s all ease;
            transform: scale(1.1);
            border: 2px solid white;
            .text{
                display: block;
                transform: rotateY(0);
            }
            .picto {
                padding: 20px;
                display: none;
            }
        }
        .text{
            color: $brand-color;
            text-transform: uppercase;
            margin-top: 20px;
            display: none;
            transform: rotateY(180deg);
        }
    }
}