/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  // font: normal 125% / 1.4 $text-font-stack;
  font:$text-font-stack;
}

h1{
}

h2{
  // font-family: 'Open Sans';
  color: $tertiary-color;
  // font-family: $text-font-stack;
  font-weight: 500;
  margin-bottom: 25px;
  text-transform: uppercase;
  &span{
      
  }
}

h3{

}

h4{

}

h5{
  font-size: 1.3rem;
  font-weight: 700;
  color: $brand-color;
}
p{

}