/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  // font: normal 125% / 1.4 $text-font-stack;
  font: $text-font-stack;
}

h1 {
  color: white;
  font-size: 2.625rem;
  text-transform: uppercase;
  font-weight: 500;
  background: #afca0938;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 0 20px;
  @include md {
    font-size: 2rem;
}
}

h2 {
  // font-family: 'Open Sans';
  color: $tertiary-color;
  // font-family: $text-font-stack;
  font-weight: 500;
  margin-top: 25px !important;
  margin-bottom: 25px;
  text-transform: uppercase;

  &span {}
}

h3 {
  color: $secondary-color;
  border-left: 3px solid $secondary-color;
  padding-left: 10px;
  width: fit-content;
  margin: 20px 0;
}

h4 {}

h5 {
  font-size: 1.3rem;
  font-weight: 700;
  color: $brand-color;
}

p {}